<ul class="nav nav-pills">
    
    <li class="nav-item">
      <a
        class="nav-link"
        href="javascript:void(0);"
        routerLink="/apolice"
        routerLinkActive="active"
      >Apólice</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="javascript:void(0);"
        routerLink="/lista-usuario"
        routerLinkActive="active"
      >Lista Usuario</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>